<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
      
      <header style="padding:30px">
          <nav class="navbar navbar-dark navbar-fixed-top bg-primary">
              <div class="nav navbar-nav">
              <a class="nav-item nav-link active" href="#"> Home </a>
              {% if g.user.is_authenticated %}
              <a class="nav-item nav-link active" href="{{ url_for('logout') }}">Logout</a>
              {% endif %}
              
              </div>
          </nav>
      </header>
      
    <div class="container" style="padding: 20px">
    {% block content %}
    {% endblock %}
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/star-rating.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    
  </body>
</html>
