{% macro tag_color(match) -%}
    {% if match >= 0.6%}
        tag-success
    {% elif match > 0.3 %}
        tag-warning
    {% else %}
        tag-danger
    {% endif %}
{%- endmacro %}

{% macro item_color(like) -%}
    {% if like == 1%}
        palegreen
    {% elif like == -1 %}
        bisque
    {% else %}
        white
    {% endif %}
{%- endmacro %}

{% macro track_list(name, tracks) -%}
    <ul class="list-group">
        <li class="list-group-item active"> {{name}} </li>
        {% for t in tracks %}
            <a href="/track/{{t.trackID}}" class="list-group-item list-group-item-action" style="background-color: {{item_color(t.like)}}">
                <span class="tag {{tag_color(t.match)}} tag-pill pull-xs-right">{{t.match}}</span>
                {{t.trackName|safe}} - <span class="artist_span" id="artist_{{t.artist_id}}">{{t.artistName|safe}}</span>
            </a>
        {% endfor %}
    </ul>
{%- endmacro %}

{% extends "index.html" %}
{% block content %}
<div class="row" >
    <div class="col-md-3 " >
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{track.trackName | safe}}</h4>
            <h6 class="card-subtitle text-muted">
            <a href="/artist/{{track.artist_id}}">
            {{track.artistName | safe}}</a></h6>
          </div>
          <div>
            <img class="centered" src="{{image}}" alt="Card image">
          </div>
          <div class="card-block" style="padding-bottom:4.7rem">
            <p class="card-text">Like: {{track.like}} <br> Score: {{score}} <br> In Degree: {{in_degree}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" action="like" track="{{track.trackName|safe}}" artist="{{track.artistName|safe}}">Like</a>
            <a href="#" class="btn btn-primary" action="ignore" trackid="{{track.trackID}}">Ignore</a>
            </div>
        </div>
    </div>
        <div class="col-md-4">
        {{ track_list('sims', sims) }}
    </div>
    <div class="col-md-4">
        {{ track_list('back_sims', back_sims) }}
    </div>
</div>
<div class="row">

</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/notify.min.js') }}"></script>
<script>
    $( ".artist_span" ).click(function( eventObject ) {
        var elem = $( this );
        $.notify(elem.attr("id"), {className:'info', autoHide: false});
    });
        $( ".btn" ).click(function( eventObject ) {
        var elem = $( this );
        $.notify("Working...", {className:'info', autoHide: false});
        if ( elem.attr( "action" )=="like" ) {
            $.post( "/updateSong", { action: "like", artist: elem.attr("artist"), track: elem.attr("track") })
             .done(function(data){
                 window.location.reload();
                  //$("#c"+elem.attr("trackid")).remove();
                  }) 
        } 
        if ( elem.attr( "action" )=="ignore" ) {
            $.post( "/updateSong", { action: "ignore", track_id: elem.attr("trackid") })
             .done(function(data){
                 window.location.reload();
                  //$("#c"+elem.attr("trackid")).remove();
                  }) 
        } 
    });

</script>
{% endblock %}